<form name="frm" method="post" action="update" enctype="multipart/form-data">
    <table>
        <tr>
            <td class="title" width=100>상품코드</td>
            <td width=500><input type="text" name="code" size="10" value="<%=vo.code%>" readonly></td>
        </tr>
        <tr>
            <td class="title" width=100>상품명</td>
            <td width=500><input type="text" name="name" size="40" value="<%=vo.name%>"></td>
        </tr>
        <tr>
            <td class="title" width=100>상품가격</td>
            <td width=500><input type="text" name="price" size="40" value="<%=vo.price%>"></td>
        </tr>
        <tr>
            <td class="title" width=100>상품사진</td>
            <td width=500>
                <%if(vo.image!=null){ %>
                    <img src="/upload/<%=vo.image%>" width="150" id="image">
                <% }else{ %>
                    <img src="http://placehold.it/170x150" width="150" id="image">
                <% }%>
                <input type="file" name="image" size="50" style="display: none;">
                <input type="hidden" name="oldImage" value="<%=vo.image%>">
            </td>
        </tr>
    </table>
    <div id="buttons">
        <input type="submit" value="상품수정" class="button">
        <input type="button" value="상품삭제" class="button" id="btnDelete">
        <input type="reset" value="수정취소" class="button">
        <input type="button" value="목록" class="button" onclick="location.href='/'">
    </div>
</form>

<script>
    //삭제버튼을 눌렀을경우
    $("#btnDelete").on("click", function(){
        var name=$(frm.name).val();
        var code=$(frm.code).val();
        var image=$(frm.oldImage).val();
        if(!confirm(`${name}을(를) 삭제하시겠습니까?`)) return;
        location.href=`/product/delete?code=${code}&image=${image}`;
    });
    //submit(등록)버튼을 누른 경우
    $(frm).on("submit", function(e){
        e.preventDefault();
        var name=$(frm.name).val();
        var price=$(frm.price).val();
        
        if(name==""){
            alert("상품명을 입력하세요.");
            $(frm.name).focus();
        }else if(price==""){
            alert("상품가격을 입력하세요.");
            $(frm.price).focus();
        }else{
            if(!confirm("상품을 수정하시겠습니까?")) return;
            frm.submit();
        }
    });

    //이미지 상자를 클릭한 경우
    $("#image").on("click", function(){
        $(frm.image).click();
    });

    //선택한 이미지 미리보기
    $(frm.image).on("change",function(e){
        var reader=new FileReader();
        reader.onload=function(e){
            $("#image").attr("src", e.target.result);
        }
        reader.readAsDataURL(this.files[0]);
    });
</script>