<form name="frm" method="post" action="update" enctype="multipart/form-data">
    <table>
        <tr>
            <td width=100 class="title">상품코드</td>
            <td width=500><input type="text" name="code" size="50" value="<%=vo.code%>" readonly></td>
        </tr>
        <tr>
            <td width=100 class="title">상품이름</td>
            <td width=500><input type="text" name="title" size="50" value="<%=vo.title%>"></td>
        </tr>
        <tr>
            <td width=100 class="title">상품가격</td>
            <td width=500><input type="text" name="price" size="5" value="<%=vo.price%>"></td>
        </tr>
        <tr>
            <td width=100 class="title">이미지</td>
            <td>
                <img src="<%=vo.image%>" id="image">
                <input type="file" name="image" style="display: none;">
                <input type="hidden" name="oldImage" value="<%=vo.image%>">
            </td>
        </tr>
    </table>
    <div id="buttons">
        <input type="submit" value="상품수정" class="button">
        <input type="button" value="상품삭제" class="button" id="btnDelete">
        <input type="reset" value="등록취소" class="button">
        <input type="button" value="상품목록" class="button" onclick="location.href='/'">
    </div>
</form>
<hr/>
<h3><%=vo.title%>의 상품 리뷰</h3>
<table>
    <tr>
        <td width=650>
            <textarea rows="5" cols="120" id="text"></textarea>
            <button id="btnInsert" style="float:right;">전송</button>
        </td>
    </tr>
</table>
<div id="review" ></div>
<script id="temp" type="text/x-handlebars-template">
    {{#each .}}
    <tr>
        <td width=100 class="title">작성자</td>
        <td width=200>{{uid}}</td>
        <td width=100 class="title">작성일</td>
        <td width=200>{{fdate}}</td>
    </tr>
    <tr>
        <td colspan="4">
            <span style="font-weight: bold;">[{{id}}]</span>
            {{text}}
            <button class="small" rid="{{id}}">삭제</button>
        </td>
    </tr>
    {{/each}}
</script>
<script>
    var code="<%=vo.code%>";
    //삭제 버튼을 클릭한경우
    $("#review").on("click", "tr .small", function(){
        var id=$(this).attr("rid");
        if(!confirm(`${id}을(를) 삭제하시겠습니까?`)) return;
        $.ajax({
            type: "get",
            url:"/review/delete",
            data:{id:id},
            success:function(){
                alert("리뷰삭제 성공!");
                getReview();
            }
        })
    })
    $("#btnInsert").on("click",function(){
        var text=$("#text").val();
        var uid="user03";
        if(text==""){
            alert("내용을 입력하세요!")
            $("#text").focus();
        }else{
            if(!confirm("리뷰를 등록하실래요?")) return;
            $.ajax({
                type: "post",
                url:"/review/insert",
                data:{code:code,uid:uid,text:text},
                success:function(){
                    alert("리뷰등록성공!")
                    getReview();
                    $("#text").val("");
                }
            })
        }
    });
    getReview();
    function getReview(){
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/review/list",
            data:{code:code},
            success:function(data){
            var template = Handlebars.compile($("#temp").html());
            $("#review").html(template(data));
            }
        })
    }
    //submit 버튼을 클릭한 경우
    $(frm).on("submit", function(e){
        e.preventDefault();
        var title=$(frm.title).val();
        var price=$(frm.price).val();
        var image=$(frm.image).val();

        if(title==""){
            alert("상품이름을 입력하세요.");
            $(frm.title).focus();
        }else if(price==""){
            alert("상품가격을 입력하세요.");
            $(frm.price).focus();
        }else if(image==""){
            alert("상품사진을 선택해주세요.");
        }else{
            if(!confirm("상품을 수정하시겠습니까?")) return;
            frm.submit();
        }
    });
    //이미지를 클릭한경우
    $("#image").on("click",function(){
        $(frm.image).click();
    });

    //이미지 미리보기
    $(frm.image).on("change",function(e){
        var reader=new FileReader();
        reader.readAsDataURL(this.files[0])
        reader.onload=function(e){
            $("#image").attr("src", e.target.result);
        }
    });
    //삭제버튼을 클릭한 경우
    $("#btnDelete").on("click",function(){
        var code=$(frm.code).val();
        var image=$(frm.image).val();
        if(!confirm(`${code}:${image} 삭제?`)) return;
        location.href=`/food/delete?code=${code}&image=${image}`;
    });

</script>