<form name="frm" method="post" action="update">
    <table>
        <tr>
            <td width=100 class="title">상품코드</td>
            <td width=500><input type="text" name="code" value="<%=vo.code%>" readonly></td>
        </tr>
        <tr>
            <td width=100>상품이름</td>
            <td width=500><input type="text" name="name" value="<%=vo.name%>" size="50"></td>
        </tr>
        <tr>
            <td width=100 class="title">상품가격</td>
            <td width=500><input type="text" name="price" value="<%=vo.price%>"></td>
        </tr>
        <tr>
            <td width=100 class="title">제조사</td>
            <td width=500><input type="text" name="company"value="<%=vo.company%>"></td>
        </tr>
    </table>
    <div id="buttons">
        <input type="submit" value="수정" class="button">
        <input type="reset" value="취소" class="button">
        <input type="button" value="삭제" class="button" id="btnDelete">
        <input type="button" value="목록" class="button" onclick="location.href='/'">
    </div>
</form>
<hr/>
<!--상품매출현황-->
<h3><%=vo.name%>의 매출현황</h3>
<!--매출 현황 등록-->
<table>
    <ty>
        <td width=70 class="title">판매일</td>
        <td><input type="text" id="sdate" size=8 value="<%=today%>"></td>
        <td width=70 class="title">판매가</td>
        <td><input type="text" id="price"  value="<%=vo.price%>" size=2></td>
        <td width=100 class="title">판매수량</td>
        <td><input type="text" id="quantity"  placeholder="수량" size=2></td>
        <td><button id="btninsert">매출등록</button></td>
    </ty>
</table>
<table id="tbl"></table>
<script id="temp" type="text/x-handlebars-template">
    <tr class="title">
        <td width=50>번호</td>
        <td width=200>판매일</td>
        <td width=100>판매가격</td>
        <td width=100>판매수량</td>
        <td width=100>금액</td>
    </tr>
    {{#each .}}
    <tr class="row">
        <td class="id">{{id}}</td>
        <td>{{fdate}}</td>
        <td><input type="text" class="price" size=8 value="{{price}}"></td>
        <td><input type="text" class="quantity" size=8 value="{{quantity}}"></td>
        <td>{{sum}}만원</td>
        <td><button class="btnUpdate">수정</button></td>
        <td><button class="btnDelete">삭제</button></td>
    </tr>
    {{/each}}
</script>
<script>
    var code=$(frm.code).val();//code="<%=vo.code%>"
    //삭제버튼을 클릭한경우
    $("#tbl").on("click", ".row .btnDelete" , function(){
        var row=$(this).parent().parent();
        var id=row.find(".id").html();
        var quantity=row.find(".quantity").val();
        var price=row.find(".price").val();
        if(!confirm(`${id}: 삭제?`))return;
        $.ajax({
            type: "post",
            url: "/sale/delete",
            data: {"id":id},
            success:function(data){
                alert("삭제완료");
                getSale();
            }
            
        })
    })
    //수정버튼을 클릭한경우
    $("#tbl").on("click", ".row .btnUpdate", function(){
        var row=$(this).parent().parent();
        var id=row.find(".id").html();
        var quantity=row.find(".quantity").val();
        var price=row.find(".price").val();
        if(!confirm(`${id}:${quantity}:${price} 수정?`))return;
        $.ajax({
            type: "post",
            url:"/sale/update",
            data: { id:id, quantity:quantity, price:price},
            success:function(data){
                alert("수정완료");
                getSale();
            }
            
        });
    });
    //매출등록버튼을 클릭한경우
    $("#btninsert").on("click", function(){
        var sdate=$("#sdate").val();
        var price=$("#price").val();
        var quantity=$("#quantity").val();
        if(quantity==""){
            alert("판매수량을 입력하세요!")
            $("#quantity").focus();
        }else{
            if(!confirm(`${code}:${sdate}:${quantity}:${price} 등록?`)) return;
            $.ajax({
                type:"post",
                url:"/sale/insert",
                data:{code:code,sdate:sdate,price:price,quantity:quantity},
                success:function(){
                    alert("매출등록성공!");
                    getSale();
                }
            })
              
        }
    })
    getSale();
    function getSale(){
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/sale/list",
            data: {code:code},
            success:function(data){
                var template = Handlebars.compile($("#temp").html());
                $("#tbl").html(template(data));
            }
        });
    }
    $("#btnDelete").on("click", function(){
        if(!confirm(`${code} 를(을)삭제하실래요?`)) return;
        frm.action="delete";
        frm.submit();
    })
    $(frm).on("submit", function(e){
        e.preventDefault();
        var code=$(frm.code).val();
        var name=$(frm.name).val();
        var price=$(frm.price).val();
        var company=$(frm.company).val();
        if(name==""){
            alert("상품 이름을 입력하세요!");
            $(frm.name).focus();
        }else if(price==""){
            alert("상품 가격을 입력하세요!");
            $(frm.price).focus();
        }else if(company==""){
            alert("제조사를 입력하세요!");
            $(frm.company).focus();
        }else{
            if(!confirm(`${code}:${name}:${company}:${price} 수정하실래요?`)) return;
            frm.submit();
        }
    });
</script>